/*BASIC*/
.row {
    margin: 0;
}
.mobileOpen {
    display: none;
}

/*HEADER*/
@media (max-width: 768px) {
    header .row .col-md-6:first-child {
        width: 70%;
    }
    header .row .col-md-6:last-child {
        width: 30%;
    }
    .toolbar {
        margin-top: 20px !important;
        text-align: left !important;
    }
    .mobileOpen {
        display: inline-block;
    }
}

/*FILE MANAGER LAYOUT*/
.folderDataFolder, .folderDataFile {
    transition: 0.3s;
    border: none;
}

.folderDataFolder:hover, .folderDataFile:hover  {
    background-color: #3d3d3d;
    cursor: pointer;
}

/*BUTTONS IN MANAGER*/
.refreshButton, .addFolderButton, .uploadButton {
    font-size: 1.6em;
    transition: 0.3s;
}

.refreshButton:hover, .addFolderButton:hover, .uploadButton:hover {
    color: #fff;
    cursor: pointer;
}


/*SELECTED FILE INFO*/
.selectedInfo h6 {
    font-weight: 400;
}

.selectedInfo h6 strong {
    font-weight: 700;
}


/*LINKS IN FOOTER*/
footer h4 {
    margin: 0;
    font-weight: 400;
    font-size: 1em;
}

@media (max-width: 768px) {
    footer .row {
        flex-direction: column;
    }
    footer .row > div {
        margin-bottom: 10px;
    }
    footer h4 {
        font-size: 0.8em;
        text-align: center;
    }
}

footer h4 a {
	color: #ffffff !important;
	display: inline-block;
    text-decoration: none;
    font-weight: 600;
}

footer h4 a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #ffffff;
  transition: 300ms;
}

footer h4 a:hover::after {
  width: 100%;
}