.folderDataFolder, .folderDataFile {
    transition: 0.3s;
    border: none;
}

.folderDataFolder:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

.folderDataFile:hover {
    background-color: #3d3d3d;
}