.folderDataFolder, .folderDataFile {
    transition: 0.3s;
    border: none;
}

.folderDataFolder:hover, .folderDataFile:hover  {
    background-color: #3d3d3d;
    cursor: pointer;
}

.selectedInfo h6 {
    font-weight: 400;
}

.selectedInfo h6 strong {
    font-weight: 700;
}

.refreshButton {
    font-size: 1.6em;
    transition: 0.3s;
}

.refreshButton:hover {
    color: #fff;
    cursor: pointer;
}